nav {
    color: $primary-text-color-black;
    background-color: #fff;

    .mobile-profile {
        background: transparent image-url("bg-table.jpg") no-repeat scroll center center/cover;
        min-height: 160px;
        display: flex;
        margin-bottom: 1px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;

        img.circle {
            height: 60px;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
        }

        h5 {
            font-size: 16px;
            color: #fff;
        }
    }

    a {
        color: #000;

        &.brand-logo {
            color: $primary-text-color-black;
        }
    }

    ul {
        li {
            a {
                color: $primary-text-color-black;
                outline: 0;
                margin-right: 1px;

                &:hover, &:active {
                    color: #fff;
                    background-color: color('blue', 'base');
                }

                &.active {
                    color: #fff;
                    background-color: color('blue', 'base');
                }
            }
        }

        &.side-nav {
            li {
                a {
                    margin-right: 0;
                    margin-bottom: 1px;

                    &:hover, &:active {
                        color: #fff;
                        background-color: color('blue', 'base');
                    }

                    &.active {
                        color: #fff;
                        background-color: color('blue', 'base');
                    }
                }
            }
        }
    }
}