.parallax-container {
    background-color: rgba(0, 0, 0, 0.5);

    &.parallax-large {
        height: 80vh;
    }

    &.parallax-white-bg {
        background: rgba(255, 255, 255, 0.9) none no-repeat scroll 0 0;
    }
}